<h1> All the Peoples! </h1>
<p>New Person? <%= link_to 'Add them!', new_person_path %></p>
<% @people.each do |person| %>
  <h2><%= person.first_name %></h2>
  <%= link_to 'Show Person', person_path(person) %>
<% end %>